<?php

return array(
    /**
     * Specify your Github secret.
     * You can find it at Settings -> Webhooks & Services -> Edit
     */
    'secret' => '**YourExtremelySecretSecret**',
    /**
     * Specify your repositories
     */
    'repositories' => array(
        /**
         *
         */
        'gitname/repository' => array(
            /**
             * Remote URL
             */
            'url' => 'https://github.com/gitname/repository',
            /**
             * What branches are allowed
             */
            'branches' => array(
                'master',
                'development'
            ),
            /**
             * Dir where the git repro lives
             * this should not be web accessable
             */
            'workingdir' => '/home/username/path/to/deployed/repro',
            /**
             *
             */
            'destination' => '/home/username/path/to/deployed/repro-staging'
        )
    )
);
